<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)="upload()">
    <!-- File -->
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!priview; else previewImage">
        <button immediateClick type="button" (click)="fileInput.click()" class="btn btn-primary">
          <em class="fa fa-image fa-4x align-middle"></em>
        </button>
        <input formControlName="file" #fileInput hidden type="file" accept="image/*"
          (change)="handleFile($event.target.files[0])">
        <app-validation-message *ngIf="photoForm.get('file').errors?.required" textError="Please, select a photo">
        </app-validation-message>
      </div>
      <ng-template #previewImage>
        <div class="text-center">
          <ap-photo class="w-25 p-3" [url]="priview" title="Preview"></ap-photo>
        </div>
      </ng-template>
    </div>

    <!-- Description -->
    <div class="col-md-6">
      <div class="form-group">
        <textarea formControlName="description" class="form-control form-control-sm" placeholder="photo description"
          maxlength="300"></textarea>
        <app-validation-message *ngIf="photoForm.get('description').errors?.maxlength" textError="Max length is 300">
        </app-validation-message>
      </div>

      <!-- Allow comments -->
      <div class="form-group">
        <label class="text-muted">
          Allow comments
          <input formControlName="allowComments" type="checkbox">
        </label>
      </div>
      <div *ngIf="!percentDone; else percent">
        <!-- Upload -->
        <button [disabled]="photoForm.invalid" type="submit" class="btn btn-primary btn-block">
          Upload
        </button>

        <!-- Cancel -->
        <a [routerLink]="['']" class="btn btn-secondary btn-block">Cancel</a>
      </div>
      <ng-template #percent>
        <div class="text-center display-4">Upload {{percentDone}}</div>
      </ng-template>
    </div>
  </form>
</div>